* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: darkgray;
}

#submit-search {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid blue;
}

.card img {
    object-fit: contain;
}

.fas.fa-star {
    color: yellow;
    font-size: 10px;
}

.far.fa-star {
    color: none;
    font-size: 10px;
}
