* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
}

header .logo-block h2 {
    text-transform: uppercase;
    color: red;
}

#input-search {
    width: 160px;
    padding: 5px;
    border-radius: 3px;
}

#submit-search {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.container {
    background-color: #808080;
    height: 100vh;
    min-width: 100vw;
}

#card-container {
    overflow-x: auto;
    display: flex;
    margin: 0 20px;
}


.card {
    width: 360px;
    margin: 10px;

}

.card #poster {
    width: 342px;
    height: 400px;
    vertical-align: bottom;

}

.card .poster-block {
    position: relative;
    border: 1px solid white;
}

.card .card-details-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    padding: 20px 10px;
    color: white;
    overflow-y: auto;
}

.card-details-block img {
    vertical-align: middle;
}

.details-data {
    font-size: 16px;
    color: silver;
}

.details-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.poster-block:hover .card-details-block {

    display: flex;
    flex-direction: column;
}

.fas.fa-star {
    color: yellow;
    font-size: 10px;
}

.far.fa-star {
    color: none;
    font-size: 10px;
}
